body{
  /* min-height: 2000px; */
  background-color: var(--bg);
  font-weight: 300;
}

.content{
  display: flex;
}

.bg-parent{
  display: inline-block;
  /* border: 2px solid white; */
  position: relative;
}

.los-bg{
  width: 607px;
}

.gradient{
  background: linear-gradient(270deg, #1A1A19 7.26%, rgba(26, 26, 25, 0)81.72%, rgba(26, 26, 25, 0.03125) 81.73%);
  position: absolute;
  top: 0px;
  right: 0px;
  height: 730px;
  width: 312px; 
}

.text-wrap{
  position: absolute;
  bottom: 110px;
  left: 44px;
  padding-right: 25px;
}

.movie-title{
  font-size: 28px;
  font-weight: 500;
}

.sub-title{
  font-size: 14px;
  font-weight: 400;
}

.synopsis{
  font-size: 14px;
  font-weight: 300;
}

.movie-title, .sub-title, .synopsis{
  margin-bottom: 6px;
}

.episodes{
  margin-top: 80px;

  display: flex;
  flex-direction: column;

  height: 550px;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.pair{
  width: 620px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.ep-block{
  display: flex;
  flex-direction: column;
  max-width: 300px;
}


.ep-title{
  line-height: 24px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ep-desc{
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; 
  -webkit-box-orient: vertical;
}

.thumbnail-parent{
  position: relative;
}

.dur{
  position: absolute;
  bottom: 11px;
  right: 11px;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
}

@media screen and (max-width: 980px){
  .episodes{
    width: 320px;
    margin: 5%;
  }
  .pair{
    flex-direction: column;
    width: 300px;
  }
}

@media screen and (max-width: 768px){
  .pair{
    flex-direction: row;
    width: 620px;
  }
  .gradient{
    left: 296px;
  }
  .content{
    flex-direction: column;
  }
}