.logo{
  font-family: Anton, Arial, Helvetica, sans-serif;
  font-size: 48px;
  color: #fff;
  margin: 9px 0px 10px 32px;
}

header{
  /* border: 3px solid white; */
  width: 100%;
  z-index: 2;
  position: fixed;

  background: linear-gradient(180deg, var(--bg) 5%, rgba(255, 255, 255, 0) 100%);

  display: flex;
  justify-content: space-between;
  
  padding-right: 63px;
}

.nav{
  margin-top: 25px;
  font-weight: 700;
  font-size: 28px;
}

.navpage{
  text-decoration: none;
  margin-top: 20px;
  margin-right: 63px;
}

header.scrolled {
  background-color: var(--bg);
  transition: color 3s ease-in;
}

@media screen and (max-width: 768px){
  .navpage{
    font-size: smaller;
    margin-right: 20px;
  }
}